{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/augment combiner/header.png",
      "fileBody" : "/interface/scripted/augment combiner/body.png",
      "fileFooter" : "/interface/scripted/augment combiner/footer.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [56, 107],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "mergeAugments" : {
      "type" : "button",
      "base" : "/interface/scripted/augment combiner/button.png",
      "hover" : "/interface/scripted/augment combiner/buttonhover.png",
      "press" : "/interface/scripted/augment combiner/buttonhover.png",
      "caption" : "Merge Augments",
      "position" : [71, 33]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [10, 31],
      "dimensions" : [2, 1],
      "spacing" : [35, 0],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [98, 147]
    }
  },

  "scriptWidgetCallbacks" : [
    "mergeAugments"
  ],

  "scripts" : ["/interface/scripted/augment combiner/augmentcombiner.lua"],
  "scriptDelta" : 0
}
