{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/slots1to16.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "materialImage1" : {
      "type" : "image",
      "position" : [88, 105],
      "file" : "/items/generic/crafting/copperbar.png",
      "centered" : true,
      "maxSize" : [9, 9],
      "minSize" : [5, 5]
    },
    "materialImage2" : {
      "type" : "image",
      "position" : [88, 94],
      "file" : "/items/generic/crafting/copperbar.png",
      "centered" : true,
      "maxSize" : [9, 9],
      "minSize" : [5, 5]
    },
    "materialImage3" : {
      "type" : "image",
      "position" : [88, 83],
      "file" : "/items/generic/crafting/copperbar.png",
      "centered" : true,
      "maxSize" : [9, 9],
      "minSize" : [5, 5]
    },
    "materialImage4" : {
      "type" : "image",
      "position" : [88, 72],
      "file" : "/items/generic/crafting/copperbar.png",
      "centered" : true,
      "maxSize" : [9, 9],
      "minSize" : [5, 5]
    },	
	"lblIntro" : {
      "type" : "label",
      "position" : [120, 52],
      "hAnchor" : "mid",
      "wrapWidth" : 70,
      "value" : "To begin weapon reinforcement, please insert a weapon in the slot.\n" 
      },
	"materialInfo" : {
      "type" : "label",
      "position" : [120, 110],
      "hAnchor" : "mid",
      "wrapWidth" : 70,
      "value" : "Requires:" 
    },
	"materialInfo1" : {
      "type" : "label",
      "position" : [97, 101],
      "hAnchor" : "left",
      "wrapWidth" : 70,
      "value" : "bar Name",
	  "fontSize": 8
	  
	},
	"materialInfo2" : {
      "type" : "label",
      "position" : [97, 91],
      "hAnchor" : "left",
      "wrapWidth" : 70,
      "value" : "Bar Name",
	  "fontSize": 8
	},
	"materialInfo3" : {
      "type" : "label",
      "position" : [97, 79],
      "hAnchor" : "left",
      "wrapWidth" : 70,
      "value" : "Bar Name",
	  "fontSize": 8 
	},
	"materialInfo4" : {
      "type" : "label",
      "position" : [97, 68],
      "hAnchor" : "left",
      "wrapWidth" : 70,
      "value" : "Bar Name",
	  "fontSize": 8 
	},
	"versionLabel" : {
      "type" : "label",
      "position" : [158, 25],
      "hAnchor" : "right",
      "wrapWidth" : 70,
      "value" : "v2.2",
	  "fontSize": 7 
	},
	"successPercentage" : {
      "type" : "label",
      "position" : [118, 38],
      "hAnchor" : "mid",
      "wrapWidth" : 70,
	  "fontSize" : 22,
      "value" : "^#00CC00;9%" 
    },
	"successLabel" : {
      "type" : "label",
      "position" : [118, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 80,
      "value" : "Success Rate:" 
    },
	"shortMatLabel" : {
      "type" : "label",
      "position" : [75, 31],
      "hAnchor" : "mid",
      "wrapWidth" : 140,
      "value" : "!Not enough materials!",
      "visible" : false  
    },
	"upgradeLabel" : {
      "type" : "label",
      "position" : [76, 119],
      "hAnchor" : "mid",
      "wrapWidth" : 140,
      "value" : "Reinforce level:" 
    },
    "btnUpgrade" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Reinforce",
      "position" : [50, 26]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [30, 71],
      "dimensions" : [1, 1],
      "spacing" : [10, 10],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 2]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [143, 135]
    }
  },
  
  "scriptWidgetCallbacks" : [ "btnUpgrade"],
  "scripts" : ["/interface/WR.lua"],
  "scriptDelta" : 1
  }
